<!-- <h1>{{title}}</h1>

<li *ngFor="let x of inventory"[class.featured] = "x.featured">
  <img [src]="x.image" width="100px">
 <p>Name: {{x.name | uppercase}}</p>
  <p>ID: {{x.id}}</p>
  <p>Description: {{x.description}}</p>
  <p *ngIf="x.inStock>0">Stock: {{x.inStock}}</p>
  <p *ngIf="x.inStock===0">Out of Stock</p>
  <p>Price: {{x.price | currency: 'USD'}}</p>
  <p>Quantity: {{x.qty}}</p>
  <button (click)="decreaseQty(x)">-</button>
  <button (click)="increaseQty(x)">+</button>
</li>
<p>{{totalInventory()}} items in stock</p> -->
<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
  <span matPrefix> </span>
  <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "search">
  <button matSuffix mat-button><mat-icon >search</mat-icon></button>
  </mat-form-field>
  <br/>
  {{search}}
  </form> -->
<div class="card">
  <div class="card-body d-flex justify-content-center">
<div class='table-responsive'>
  <div class="table">
    <div class="form-group">
      <input type="text" placeholder="Search Here" [(ngModel)]="listFilter">
  </div>
    <thead>
      <tr>
        <th>
          Item
        </th>
        <th>
          Name
        </th>
        <th>
          Brand
        </th>
        <th>
          Price
        </th>
        <th>
          Qty
        </th>
        <th></th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredInventory">
        <td>
          <img [src]="item.image" width="100px" height="100px">
        </td>
        <td>
          {{item.name}}
        </td>
        <td>
          {{item.brand}}
        </td>
        <td>
          {{item.price | currency:'CAD'}}
        </td>
        <td>
          <button class = "btn btn-danger"(click)="decreaseQty(item)">-</button>
          <input type="text" value="{{item.qty}}" [(ngModel)] =  'item.qty'  >
          <button class = "btn btn-primary"(click)="increaseQty(item)">+</button>
        </td>
        <td>
          <p *ngIf="item.qty===0">No  {{item.name}}  Today?</p>
          <p *ngIf="item.qty>0">Enjoy our {{item.name}}</p>
        </td>
        <td>
          <p *ngIf = "item.qty > item.inStock"  > Sorry, we don't have enough stock </p>
          <!-- <p *ngIf="x.inStock===0">Sorry we're out of stock</p> -->
          <p *ngIf="item.inStock>0">{{item.inStock}} in stock.</p>
          <p *ngIf="item.inStock===item.qty">That's all we got</p>
          
          
        </td>
      </tr>
    </tbody>
    <div>
      <p>Total: {{totalPrice()| currency:'CAD'}}</p>
      <p>{{totalInCart()}} items in cart</p>
    </div>
  </div>
</div>
</div>
</div>
